.active {
  border-bottom: #213642;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.login {
  border-radius: 4px;
}

.md {
  margin-top: 100px;
  margin-bottom: 10px;
  padding-left: 400px;
  padding-right: 400px;
}